<!DOCTYPE html>
<html>
<form method="post">
            <p><b>Sign Up</b></p>
            <p>User:<input type="text" name = "username" value={{usr}}><font color=ff0000>{{usrEr}}</font></p>
            <p>Pswd:<input type="password" name = "password"><font color=ff0000>{{pswdEr}}</font></p>
            <p>Verify:<input type="password" name = "verify"></p>
            <p>Email:<input type="text" name = "email" value={{email}}><font color=ff0000>{{emailEr}}</font></p>
            <p><input type="Submit" name="Submit"></p>
            <p> <a href="/"> Home </a></p>
            </form>
</html>